.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.display {
  display: flex;
  height: 50px;
  width: 60px;
  justify-content: space-between;
  align-items: center;
}

.display > .counter {
  display: inline-block;
}

.display > .icon {
  margin: 0 auto;
  animation: pulsing-icon infinite 1s linear;
}

@keyframes pulsing-icon {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 20px;
  }
}
